
body {
  text-align: right;
}

div {
  border: 3px solid black;
  margin: 20px 0px;
}

h1 {
	text-align: center;
}

.main h2{
  background-color: hsl(208, 85%, 55%);
  padding: 0px;
  margin: 0px;
}
.country h2 {
  background-color: hsl(50, 85%, 55%);
  padding: 0px;
  margin: 0px;
}
.politics h2 {
  background-color: hsl(11, 85%, 55%);
  padding: 0px;
  margin: 0px;
}
p {
  background-color: hsl(210, 25%, 55%);
  color: hsl(218, 100%, 98%);
  padding: 0px;
  margin: 0px;
}
